<!DOCTYPE html>
<html>
  <head>
    <title>Node1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><h1>I am Back BABY!!</h1></center>
    <center><h1>&#128526;</h1></center>
    
  </body>
</html>
